{% extends 'layout.html.twig' %}
{% set title = 'Autorzy' %}

{% block content %}
    <div class="jumbotron">
        <h1>Bazy Danych&nbsp;2 <sup><small><span class="label label-default">Projekt</span></small></sup></h1>

        <p>
            Lorem ipsum dolor sit amet.
        </p>
    </div>

    <div class="page-header"><h1>Autorzy</h1></div>
    <div class="well">Lorem ipsum dolor sit amet.</div>
{% endblock %}
