{% extends 'layout.html.twig' %}
{% set title = 'Autorzy' %}

{% block content %}
    <div class="jumbotron">
        <h1>Autorzy hurtowni <sup><small><span class="label label-default">Projekt</span></small></sup></h1>

        <p>
            Projekt z przedmiotu <strong>bazy danych 2</strong> był projektem dwuosobowym.<br>
            Autorami projektu są studenci <em><a href="http://www.tu.kielce.pl/" target="_blank">Politechniki Świętokrzyskiej <small><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></small></a></em>.
        </p>
    </div>

    <div class="page-header"><h1>Autorzy projektu</h1></div>
    <ul class="list-group">
        <li class="list-group-item">
            <h2>Daniel Iwaniec <span class="badge">grupa G311A</span></h2>
            <a href="https://github.com/Ghutix" target="_blank">https://github.com/Ghutix <small><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></small></a>
        </li>
        <li class="list-group-item">
            <h2>Artur Kałuża <span class="badge">grupa G311A</span></h2>
            <a href="https://github.com/arturro2828" target="_blank">https://github.com/arturro2828 <small><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></small></a>
        </li>
    </ul>

    <div class="page-header"><h1>Repozytorium GitHub</h1></div>
    <ul class="list-group">
        <li class="list-group-item"><strong>Repozytorium projektu</strong>: <a href="https://github.com/Ghutix/BD2" target="_blank">https://github.com/Ghutix/BD2 <small><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></small></a></li>
        <li class="list-group-item"><strong>Repozytorium GUI projektu</strong>: <a href="https://github.com/Ghutix/BD2/tree/master/php" target="_blank">https://github.com/Ghutix/BD2/tree/master/php <small><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></small></a></li>
    </ul>
{% endblock %}
