{% extends 'layout.html.twig' %}
{% set title = 'Wprowadzenie' %}

{% block content %}
    <div class="jumbotron">
        <h1>Bazy Danych&nbsp;2 <sup><small><span class="label label-success">Projekt</span></small></sup></h1>

        <p>
            Tematem projektu jest <strong>hurtownia danych</strong> dla składu materiałów budowlanych.<br>
            Zakres projektu obejmuje stworzenie struktury hurtowni, przygotowanie danych oraz ich import i analizę.<br>
        </p>
        <p><a href="{{ url('structure') }}" class="btn btn-primary btn-lg" role="button" data-toggle="tooltip" data-placement="right" title="w schemacie gwiazdy">Zobacz strukturę &raquo;</a></p>
    </div>

    <div class="page-header"><h1>Tabela faktów <span class="badge">5000 rekordów</span></h1></div>
    <div role="alert" class="alert alert-info disposable-alert alert-dismissible fade in" data-disposable-alert-id="1">
        <button data-dismiss="alert" class="close" type="button">
            <span aria-hidden="true">×</span><span class="sr-only">Zamknij</span>
        </button>
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        <strong>Czytelność danych</strong> - aby lepiej zrozumieć przedstawione dane <em><a href="{{ url('structure') }}">zobacz strukturę hurtowni</a></em>.
    </div>

    {{ render(url('table', {'table': 'sprzedaz'})) }}
{% endblock %}
