{% extends 'layout.html.twig' %}
{% set title = 'Struktura' %}

{% block content %}
    <div class="jumbotron">
        <h1>Bazy Danych&nbsp;2 <sup>
                <small><span class="label label-success">Projekt</span></small>
            </sup></h1>

        <p>
            Lorem ipsum dolor sit amet.
        </p>
        <p><a href="{{ url('data') }}" class="btn btn-primary btn-lg" role="button" data-toggle="tooltip" data-placement="right" title="w formacie csv">Zobacz dane &raquo;</a></p>
    </div>

    <div class="page-header"><h1>Struktura</h1></div>
    <div class="well">
        <pre class="line-numbers" data-line="1,17,23,31,37,46,53,62,73,79,87,93,101,110"><code class="language-sql">{{ structureSQL }}</code></pre>
    </div>
{% endblock %}
