{% extends 'layout.html.twig' %}
{% set title = 'Struktura' %}

{% block content %}
    <div class="jumbotron">
        <h1>Bazy Danych&nbsp;2 <sup>
                <small><span class="label label-success">Projekt</span></small>
            </sup></h1>

        <p>
            Lorem ipsum dolor sit amet.
        </p>
        <p><a href="{{ url('data') }}" class="btn btn-primary btn-lg" role="button" data-toggle="tooltip" data-placement="right" title="w formacie csv">Zobacz dane &raquo;</a></p>
    </div>

    <div class="page-header"><h1>Struktura</h1></div>
    <h2><sup><small><span class="label label-danger">procedura</span></small></sup> Przygotowanie bazy za pomocą procedury DROP_ALL</h2>
    <pre class="line-numbers"><code class="language-sql">{{ procedureDropAllSQL }}</code></pre>
    <div class="well">
        Opis tej procedury.
    </div>
    <h2><sup><small><span class="label label-primary">tabela</span></small></sup> Stworzenie tabeli dla branż</h2>
    <pre class="line-numbers"><code class="language-sql">{{ tableBranzaSQL }}</code></pre>
    <div class="well">
        Opis tej tabeli.
    </div>
    <p>Lorem ipsum dolor sit amet.</p>
    <pre class="line-numbers" data-line="1,16,22,30,36,45,52,61,72,78,86,92,100,109"><code class="language-sql">{{ structureSQL }}</code></pre>
{% endblock %}
