{% extends 'layout.html.twig' %}
{% set title = 'Import' %}

{% block content %}
    <div class="jumbotron">
        <h1>Bazy Danych&nbsp;2 <sup><small><span class="label label-success">Projekt</span></small></sup></h1>

        <p>
            Lorem ipsum dolor sit amet.
        </p>
        <p><a href="{{ url('analysis') }}" class="btn btn-primary btn-lg" role="button" data-toggle="tooltip" data-placement="right" title="za pomocą rozszerzenia sql">Zobacz analizę &raquo;</a></p>
    </div>

    <div class="page-header"><h1>Import</h1></div>
    <div class="well">Lorem ipsum dolor sit amet.</div>
{% endblock %}
