<hr>

<footer>
    <p id="licenses" class="text-muted"><a itemprop="license" href="http://www.opensource.org/licenses/mit-license.php">MIT license</a> - Daniel Iwaniec, Artur Kałuża - Politechnika Świętokrzyska</p>
</footer>