{% if not pagination.getDirection() %}
    {% set direction = {'direction': 'asc'} %}
{% else %}
    {% set direction = [] %}
{% endif %}

<div class="row ajax-content oracle-data-table">
    <div class="col-md-12">
        {% block tableFiltration %}{% endblock %}
        {% if data %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        {% block tableHeader %}{% endblock %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                        <tr>
                            {% block tableContent %}{% endblock %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {{ knp_pagination_render(pagination) }}
        {% else %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> <strong>Brak wyników</strong> - zmień parametry wyszukiwania i spróbuj ponownie.
            </div>
        {% endif %}
    </div>
</div>
