<hr>

<footer>
    <p id="licenses" class="text-muted"><a itemprop="license" href="http://www.opensource.org/licenses/mit-license.php">MIT license <small><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></small></a> - Daniel Iwaniec, Artur Kałuża - Politechnika Świętokrzyska (2015 r.)</p>
</footer>