{% set direction = null %}

<a data-field="{{ title }}" {% for attr, value in options %}
    {% if attr == 'class' and (value == 'asc' or value == 'desc') %}
        {% set direction = value %}
        {% set value = value ~ ' sortable' %}
    {% endif %}
    {% if attr != 'title' %}
        {{ attr }}="{{ value }}"
    {% endif %}
{% endfor %}>{{ title }}{% if direction %}&nbsp;<span class="glyphicon {% if direction == 'asc'%}glyphicon-chevron-up{% else %}glyphicon-chevron-down{% endif %}" aria-hidden="true"></span>{% endif %}</a>
